
@{
    ViewBag.Title = "Student Management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

  
<input type="hidden" id="ViewUserID" />
<input type="hidden" id="ViewStudentID" />
<style>
    #AddNewRegisterform .form-control-feedback {
        right: 7px;
    }

    #myStudentProfile .form-control-feedback {
        right: 7px;
    }

    .modal-body {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }
</style>


<div class="tile">

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading"> Manage Student</div>
        </div>
        <div class="table-responsive table table-bordered">
            <button id="ClearTextbox" style="margin-left: 16px;float:right;margin-bottom: 31px;margin-top: 11px;" class="btn btn-info " value="Save" data-toggle='modal' data-target='#myModal'> Add new</button>
            <button style="margin-left: 16px;float:right;margin-bottom: 31px;margin-top: 11px;font-weight:bold;" class="btn btn-warning " value="Save" data-toggle='modal' data-target='#UploadmyModal'> Import Excel Sheet</button>

            <h4 style="text-align:center;">
                <label class="label label-danger" id="lblMessage"></label>
            </h4>
            <h4 style="text-align:center;"> <label class="label label-success" id="lbladdMessages"></label></h4>
            <h4 style="text-align:center;"> <label class="label" id="lblUpdatMessages"></label></h4>
            <h4 style="text-align:center;"> <label class="label" id="lblupdatMessages"></label></h4>
            <h4 style="text-align:center;"> <label class="label label-success" id="lblMessages"></label></h4>
            <table id="UserDetailsTable"  class="table table-bordered" style="border-bottom: 1px solid #D5D5D5;">
                <thead>
                    <tr>
                        <th style="text-transform:none;border: 1px solid #D5D5D5;">#</th>
                        <th style="text-transform:none;border: 1px solid #D5D5D5;">Student ID</th>
                        <th style="text-transform:none;border: 1px solid #D5D5D5;">Student Name</th>
                        <th style="text-transform:none;border: 1px solid #D5D5D5;">Date of Birth</th>
                        <th style="text-transform:none;border: 1px solid #D5D5D5;">Gender</th>
                        <th style="text-transform:none;border: 1px solid #D5D5D5;">Local Government</th>
                        <th style="text-transform:none;border: 1px solid #D5D5D5;">State</th>
                        <th style="text-transform:none;border: 1px solid #D5D5D5;">School Name</th>
                        @*<th style="text-transform:none;border: 1px solid #D5D5D5;">Approved</th>*@
                        <th style="text-transform:none;border: 1px solid #D5D5D5;">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>


        </div>
        <br>
    </div>
</div>
<div id="wait" style="display: none; width: 69px; height: 100px; position: absolute; top: 35%; left: 50%; padding: 2px;">
    <img src='/Images/caricamento_big.gif' width="100%" height="50" /><br>
    Loading..
</div>
<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: #edecec 1px solid;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="font-size: 19px;font-weight: bold;">Student Details</h4>


                </div>
                <form name="ManageUserValidation" id="AddNewRegisterform">
                    <div class="modal-body">


                        <div class="panel-body">



                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">First Name</label>
                                <input class="form-control" id="txtFirstName" placeholder="First Name" name="txtFirstName" type="text" />
                            </div>

                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">Last Name</label>
                                <input class="form-control" id="txtLastName" placeholder="Last Name" name="txtLastName" type="text" />
                            </div>

                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">Date of Birth</label>
                                <input class="form-control" id="txtdob" placeholder="Date of Birth" name="txtdob" type="text" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">Gender</label>
                                @{
                                    var domainsLists = new SelectList(new[]
                                                           {
                               new SelectListItem { Text = "Male", Value = "Male", Selected = true },
                               new SelectListItem { Text = "Female", Value = "Female"},

                                }, "Value", "Text");
                                }
                                @Html.DropDownList("DrpGender", domainsLists, "----Gender----", new { id = "DrpGender", @class = "form-control" })
</div>
<div class="form-group col-md-6">
    <label for="formGroupExampleInput">Registration Number </label>
    <input class="form-control" id="txtRegistration" placeholder="Registration Number" name="txtRegistration" type="text" />
</div>
<div class="form-group col-md-6">
    <label for="formGroupExampleInput">Academic Year</label>
    @Html.DropDownList("ddlAcademicYears", ViewBag.AcademicYear as SelectList, "----Academic Year----", new { id = "ddlAcademicYears", @class = "form-control" })
</div>

<div class="form-group col-md-6">
    <label for="formGroupExampleInput">Local Government </label>
    <input class="form-control" id="txtLocalGoverment" placeholder="Local Government" name="txtLocalGoverment" type="text" />
</div>
<div class="form-group col-md-6">
    <label for="formGroupExampleInput">State</label>
    <input class="form-control" id="txtState" placeholder="State Name" name="txtState" type="text" />
</div>
<div class="form-group col-md-6">
    <label for="formGroupExampleInput">School</label>
    @Html.DropDownList("ddlSchoolName", ViewBag.SchoolName as SelectList, "----School Name----", new { id = "ddlSchoolName", @class = "form-control" })
</div>
<div class="form-group col-sm-6">
    <label for="formGroupExampleInput2">Address</label>
    <textarea id="txtAddress" name="txtAddress" class="form-control" placeholder="Address..." data-autosize-on="true" style="overflow: hidden; word-wrap: break-word; height:70px;"></textarea>
</div>
</div>
</div>
<div class="modal-footer" style="border-top: #edecec 1px solid;">
    <input style="margin-left: 16px;" type="submit" class="btn btn-info " value="Save" />  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
</div>
</form>
</div>

</div>

</div>

</div>


<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myViewStudentProfile" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: #edecec 1px solid;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="font-size: 19px;font-weight: bold;">View Student Profile</h4>


                </div>
                <form name="ManageUserValidation" id="AddNewRegisterform">
                    <div class="modal-body">



                        <div class="panel-body">



                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">First Name</label>
                                <label class="form-control" id="lblFirstName"></label>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">Last Name</label>
                                <label class="form-control" id="lblLastName"></label>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">Date of Birth</label>
                                <label class="form-control" id="lbldob"></label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">Gender</label>
                                <label class="form-control" id="lblgender"></label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">Registration Number </label>
                                <label class="form-control" id="lblRegistration"></label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">Academic Year</label>
                                <label class="form-control" id="lblAcademic"></label>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">Local Government </label>
                                <label class="form-control" id="lbllocalGovernment"></label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">State</label>
                                <label class="form-control" id="lblstate"></label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="formGroupExampleInput">School</label>
                                <label class="form-control" id="lblschool"></label>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="formGroupExampleInput2">Address</label>
                                <label class="form-control" id="lblAddress"></label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="border-top: #edecec 1px solid;">
                        <input style="margin-left: 16px;" type="submit" class="btn btn-info " value="Save" />  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>


<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myStudentProfile" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: #edecec 1px solid;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Student Details</h4>

                </div>
                <form id="StudentDetails">
                    <div class="modal-body">
                        <div class="panel-body">
                            <div class="form-group col-sm-6">
                                <label for="formGroupExampleInput">First Name</label>
                                <input type="text" class="form-control" id="txtStudentFirstName" placeholder="First Name" disabled>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="formGroupExampleInput2">Last Name</label>
                                <input type="text" class="form-control" id="txtStudentLastName" placeholder="Last Name" disabled>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="formGroupExampleInput2">Contact Number</label>
                                <input type="text" class="form-control" name="txtContact" id="txtContact" placeholder="Contact Number">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="formGroupExampleInput2">Gender</label>
                                @{
                                    var domainsList = new SelectList(new[]
                                    {
                               new SelectListItem { Text = "Male", Value = "Male", Selected = true },
                               new SelectListItem { Text = "Female", Value = "Female"},

                                }, "Value", "Text");
                                }
                                @Html.DropDownList("txtGender", domainsList, "----Gender----", new { id = "txtGender", @class = "form-control" })
                                @*<input type="text" class="form-control" name="txtGender" id="txtGender" placeholder="Gender" required>*@
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="formGroupExampleInput2">Academic Year</label>
                                @Html.DropDownList("ddlAcademicYear", ViewBag.AcademicYear as SelectList, "----Academic Year----", new { id = "ddlAcademicYear", @class = "form-control" })
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="formGroupExampleInput2">Upload Student Photo</label>
                                <div action="/Admin/SaveStudentProfileImage" class="dropzone" id="DropzoneJsForm" style="background-color: #00BFFF; text-align: center;color:white;">
                                    <div class="dz-message needsclick" id="ImageClear">
                                        Drop student profile click to upload.

                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-sm-12">
                                <label for="formGroupExampleInput2">Address</label>
                                <textarea id="txtAddress" name="txtAddress" class="form-control m-b-10" placeholder="Address..." data-autosize-on="true" style="overflow: hidden; word-wrap: break-word; height: 100px;" required></textarea>
                            </div>


                        </div>

                    </div>
                    <div class="modal-footer" style="border-top: #edecec 1px solid;">

                        <button class="btn btn-info " value="Save" id="SaveImage">Save</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>

                    </div>
                </form>
            </div>
        </div>

    </div>

</div>
@*<div id="spinner">
    <img src='/Images/caricamento_big.gif' width="50" height="50" alt="Loading..." />
</div>*@

<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="UploadmyModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: #edecec 1px solid;background-color:#00BFFF;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:white;">Import Student Profile By Excel Sheet</h4>

                </div>
                <form enctype="multipart/form-data" method="post" id="formExcel">
                    <div class="modal-body">


                        <div class="panel-body">

                            <div class="form-group col-md-12">
                                <label for="formGroupExampleInput">Upload Student Profile</label>
                                <div class="container">

                                    <div class="form-group">
                                        <input type="file" name="img[]" class="file">
                                        <div class="input-group col-xs-12">
                                            @*<span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>*@
                                            <input name="uploadFile" class="form-control" type="file" id="UploadExcel" placeholder="Upload Image" />
                                            @*<input type="file" class="form-control input-lg" disabled placeholder="Upload Image" id="UploadExcel">*@
                                            @*<span class="input-group-btn">
                                                    <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                                                </span>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="border-top: #edecec 1px solid;">

                            <button type="submit" class="btn btn-info " value="Save" id="SaveImages">Upload</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>

                        </div>

                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

<script type="text/javascript">
    // For demo to fit into DataTables site builder...
    $('#UserDetailsTable')

    .removeClass('display')
    .addClass('table table-striped table-bordered');
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ClearTextbox').click(function () {
            $("#txtEmail").removeAttr("disabled", "disabled");
            document.getElementById("AddNewRegisterform").reset();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(document).ajaxStart(function () {
                $("#waits").css("display", "block");
            });
            $(document).ajaxComplete(function () {
                $("#waits").css("display", "none");
            });
            $("#SaveImagesd").click(function () {
                $("#txt").load("demo_ajax_load.asp");
            });
        })
    });
    $(function () {
        // When your form is submitted
        $("#formExcel").submit(function (e) {

            var fileName = document.getElementById("UploadExcel").value
            //debugger;
            if (fileName == "") {
                alert("Browse to upload a valid File with xls / xlsx extension");
                return false;
            }
            else if (fileName.split(".")[1].toUpperCase() == "XLS" || fileName.split(".")[1].toUpperCase() == "XLSX") {
                e.preventDefault();
                // Serialize your form
                var formData = new FormData($(this)[0]);

                // Make your POST
                $.ajax({
                    type: 'POST',
                    url: '/Admin/Upload',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (d) {
                        UserDetails();
                        $("#lbladdMessages").show();
                        $('#lbladdMessages').html(d);
                        setTimeout(function () { $("#lbladdMessages").hide(); }, 10000);
                        $('#UploadmyModal').modal('toggle'); //or  $('#IDModal').modal('hide');
                        return false;
                    },

                });

                return true;
            }
            else {
                alert("File with " + fileName.split(".")[1] + " is invalid. Upload a validfile with xls / xlsx extensions");
                return false;
            }
            return true;
            // Prevent the default behavior

        });
    })
</script>
<script>

    $(document).ready(function () {

        $('#AddNewRegisterform').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            err: {
                // You can set it to popover
                // The message then will be shown in Bootstrap popover
                container: 'tooltip'
            },
            fields: {

                txtEmail: {
                    validators: {
                        notEmpty: {
                            message: 'The email address is required'
                        },
                        stringLength: {
                            max: 50,
                            message: 'The email must be less than 50 characters long'
                        },
                        emailAddress: {
                            message: 'The email address not valid'
                        },
                    }
                },
                txtLastName: {
                    validators: {
                        notEmpty: {
                            message: 'The last name is required'
                        },
                        stringLength: {
                            max: 30,
                            message: 'The last name must be less than 30 characters long'
                        },
                    }
                },
                txtdob: {
                    validators: {
                        notEmpty: {
                            message: 'The date of birth name is required'
                        },
                        stringLength: {
                            max: 20,
                            message: 'The date of birth must be less than 20 characters long'
                        },
                    }
                },
                txtFirstName: {
                    validators: {
                        notEmpty: {
                            message: 'The first name is required'
                        },
                        stringLength: {
                            max: 30,
                            message: 'The first name must be less than 30 characters long'
                        },
                    }
                },
                txtPassword: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required'
                        },
                    },
                    stringLength: {
                        max: 30,
                        message: 'The password must be less than 30 characters long'
                    },
                },
                DrpGender: {
                    validators: {
                        notEmpty: {
                            message: 'The gender name is required'
                        },
                    }
                },
                txtRegistration: {
                    validators: {
                        notEmpty: {
                            message: 'The registration name is required'
                        },
                        stringLength: {
                            max: 50,
                            message: 'The registration must be less than 50 characters long'
                        }
                    }
                },
                ddlAcademicYears: {
                    validators: {
                        notEmpty: {
                            message: 'The academic Years name is required'
                        },
                        stringLength: {
                            max: 50,
                            message: 'The email must be less than 50 characters long'
                        },
                    }
                },
                txtLocalGoverment: {
                    validators: {
                        notEmpty: {
                            message: 'The local government name is required'
                        },
                        stringLength: {
                            max: 30,
                            message: 'The local government must be less than 30 characters long'
                        }
                    }
                },
                txtState: {
                    validators: {
                        notEmpty: {
                            message: 'The state name is required'
                        },
                        stringLength: {
                            max: 30,
                            message: 'The state must be less than 30 characters long'
                        }
                    }
                },
                ddlSchoolName: {
                    validators: {
                        notEmpty: {
                            message: 'The school name is required'
                        },
                    }
                },
                txtAddress: {
                    validators: {
                        notEmpty: {
                            message: 'The address name is required'
                        },
                        stringLength: {
                            max: 70,
                            message: 'The address must be less than 70 characters long'
                        }
                    }
                },
            }
        })
        .on('success.form.fv', function (e) {
            e.preventDefault();
            UpdatUserProfile('/Admin/UpdateUserProfile/');
            UserDetails();
        });

    });


    $('#StudentDetails').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        err: {
            // You can set it to popover
            // The message then will be shown in Bootstrap popover
            container: 'tooltip'
        },
        fields: {

            txtEmail: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required'
                    },
                    stringLength: {
                        max: 100,
                        message: 'The email must be less than 100 characters long'
                    },
                    emailAddress: {
                        message: 'The email address not valid'
                    },
                }
            },
            txtLastName: {
                validators: {
                    notEmpty: {
                        message: 'The last name is required'
                    },
                }
            },
            txtAddress: {
                validators: {
                    notEmpty: {
                        message: 'The address is required'
                    },
                }
            },
            ddlAcademicYear: {
                validators: {
                    notEmpty: {
                        message: 'The academic year is required'
                    },
                }
            },
            ddlSchollName: {
                validators: {
                    notEmpty: {
                        message: 'The schol name is required'
                    },
                }
            },
            txtFatherName: {
                validators: {
                    notEmpty: {
                        message: 'The father name is required'
                    },
                }
            },
            txtDateofBirth: {
                validators: {
                    notEmpty: {
                        message: 'The date of birth is required'
                    },
                }
            },
            txtContact: {
                validators: {
                    integer: {
                        message: 'The value is not an integer'
                    }
                }
            },
            txtGender: {
                validators: {
                    notEmpty: {
                        message: 'The gender is required'
                    },
                }
            },

            txtAddress: {
                validators: {
                    notEmpty: {
                        message: 'The address is required'
                    },
                }
            },


        }
    })
    .on('success.form.fv', function (e) {
        e.preventDefault();
        UpdateStudentDetails('/Admin/UpdateStudentProfile');
    });

    Dropzone.options.DropzoneJsForm = {

        //prevents Dropzone from uploading dropped files immediately
        autoProcessQueue: false,
        acceptedFiles: ".png, .jpg",
        init: function () {
            var submitButton = document.querySelector("#SaveImage");
            //var StudentId= $('#ViewStudentID').val();
            var myDropzone = this; //closure
            this.on("sending", function (file, xhr, formData) {
                formData.append("studentName", $("#ViewStudentID").val());
                console.log(formData);
            });

            submitButton.addEventListener("click", function () {
                myDropzone.processQueue();
                $('#DropzoneJsForm').empty();
            });

        }
    };
    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });
    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });

   

</script>
<style>
    .dropzone {
        background-color: #00BFFF;
        text-align: center;
        min-height: 50px;
        border: #edecec 4px solid;
    }

        .dropzone.dz-started .dz-message {
            display: none;
            /*line-height: 9px;*/
        }

        .dropzone.dz-clickable .dz-message {
            cursor: pointer;
            line-height: 52px;
        }

    .usercommentpostlisted {
        margin-left: 34%;
    }

    .file {
        visibility: hidden;
        position: absolute;
    }
</style>

<script src="~/Scripts/AdminManage/AdminUserProfile/AdminUserProfile.js"></script>

