<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title Online Result Portal</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/Content/css/app.min.css" rel="stylesheet" />
   
    @* <script src="~/Content/js/formValidation.min.js"></script>*@
    @*   @Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#191c22">
    <div class="container">
        <div class="row">
           
            <div id="">
                @RenderSection("featured", required: false)
                <section class="">
                    @RenderBody()
                </section>
            </div>
            <script src="~/vendors/bower_components/jquery/dist/jquery.min.js"></script>
            <script src="~/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

            <!-- Placeholder for IE9 -->
            <!--[if IE 9 ]>
        <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

           
            @*@RenderSection("scripts", required: false)*@
        </div>
    </div>
    <script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
    <script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>
</body>
</html>
